server:
  port: 8000

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: gateway-api
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: first-service
              uri: http://localhost:8001/
              predicates:
                - Path=/first-service/**
            - id: second-service
              uri: http://localhost:8002/
              predicates:
                - Path=/second-service/**