server:
  port: 8000

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: gateway-api
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: first-service
              uri: http://localhost:8001/
              predicates:
                - Path=/first-service/**
              filters:
                - AddRequestHeader=f-request, 1st-request-header-by-yaml
                - AddResponseHeader=f-response, 1set-response-header-by-yaml
                - name: CustomFilter
                - name: LoggingFilter
                  args:
                    baseMessage: hi there
                    preLogger: true
                    postLogger: true
            - id: second-service
              uri: http://localhost:8002/
              predicates:
                - Path=/second-service/**
              filters:
                - AddRequestHeader=s-request, 2nd-request-header-by-yaml
                - AddResponseHeader=s-response, 2nd-response-header-by-yaml
                - name: CustomFilter
                - name: LoggingFilter
                  args:
                    baseMessage: hi there
                    preLogger: true
                    postLogger: true
          default-filters:
            - name: GlobalFilter
              args:
                baseMessage: Spring Cloud Gateway WebFlux Global Filter
                preLogger: true
                postLogger: true