server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git: #default
          uri: file:///Users/wlwpfh/Desktop/git-config-file
          default-label: master
